.footer {
    background-color: #000;
    color: #757575;
    padding: 40px;
    font-size: 14px;
    max-width: 100%;
    margin: auto 20rem 20rem;
    gap: 3rem;
  }
  
  .call {
    margin-bottom: 20px;
    text-align: left;
  }
  
  .foot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    text-align: left;
    margin-bottom: 20px;
  }
  
  .foot ul {
    list-style: none;
    padding: 0;
  }
  
  .foot li {
    margin-bottom: 10px;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  .foot li:hover {
    color: #fff;
  }
  
  .select {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .select select {
    background: #000;
    color: #757575;
    border: 1px solid #757575;
    padding: 8px 15px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .last {
    font-size: 14px;
  }
  