@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
  --primary-red : #E50914;
  --text-white: #fff;
  --button-active: #BB0A12;
  --button-hover: #F40612;
  --primary-black: #000;
  --grey-bg: #303030;
  --text-h1: 6.4rem;
  --text-h2: 5rem;
  --body-reg: 2.6rem;
  font-family: "Opens Sans", serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
  color: var(--text-white);
}

h1{
  font-size: var(--text-h1);
}
h2{
  font-size: var(--text-h2);
}
p, h3{
  font-size: var(--body-reg);
}

.subtitle{
  font-size: 1.9rem;
  color: var(--text-white);
}

body{
  line-height: 1.2;
  font-size: 1.6rem;
}

img{
  width: 100%;
  height: 100%;
}