.btn{
    background-color: var(--primary-red);
    color: var(--text-white);
    text-align: center;
    border: none;
    transition: all .5s;
}
.btn:hover{
    background-color: var(--button-hover);
}
.btn:active{
    background-color: var(--button-active);
}
.primaryBtn{
    width: 24.7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 3rem;
}
.secondaryBtn{
    width: 8.4rem;
    height: 3.4rem;
    font-size: 1.6rem;
    border-radius: .3rem;
}
